<div ng-include="'components/navbar/navbar.html'"></div>

  <div class="col-md-12">
    <div class="col-md-10">
      <ui-gmap-google-map  center='map.center' zoom='map.zoom'>
        <ui-gmap-polyline ng-repeat="polyline in polylines" path='polyline.path' stroke='polyline.stroke' draggable='polyline.draggable' editable='polyline.editable' geodesic='polyline.geodesic' visible='polyline.visible'>
        </ui-gmap-polyline>
        <ui-gmap-marker idKey='1'  coords='maps[0].center'>
        </ui-gmap-marker>
        <ui-gmap-marker idKey='2'  coords='maps[maps.length-1].center'>
        </ui-gmap-marker>
        
      </ui-gmap-google-map>
    </div>
    <div class="col-md-2" ng-show="maps.length>0" style="overflow-y:scroll;height:600px">
      <div ng-repeat="map in maps track by $index | orderBy:'-timestamp'" style="border-bottom:1px solid lightGray">
      <h4>Location&nbsp;{{$index}}</h4>
      <p>Lat {{map.center.latitude}}</p>
      <p>Lng {{map.center.longitude}}</p>
      <h4>Speed</h4>
      <p>{{map.meta.speed}}</p>
      <h4>Timestamp</h4>
      <p>{{map.meta.timestamp}}</p>
      </div>
    </div>
      
  </div>

  
  

